<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Моё приложение</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body data-base-url="" th:attrappend="data-base-url=@{/}">

<div th:replace="fragments/topbar.html"></div>

<div class="container">

    <div class="grid">
        <div th:each="category : ${topCategory}" class="border rounded-lg p-4 shadow-sm mb-4">
            <h3>

                <a th:href="@{/page/category/{id}(id=${category.id})}"
                   th:text="${category.name}"
                   class="text-xl font-semibold text-black no-underline hover:text-blue-600 hover:underline transition-colors duration-200">
                </a>

            </h3>
            </div>
        </div>
    </div>


</body>
</html>