<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моё приложение</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body data-base-url="@{/}">

<div th:replace="fragments/topbar.html"></div>


<div class="container">
    <h1 th:text="${cocktail.name}">Название коктейля</h1>
    <div class="meta">
        <span th:text="'Крепость: ' + ${cocktail.strength} + '%'">Крепость</span> |
        <span th:text="'Объём: ' + ${cocktail.volume} + ' мл'">Объём</span>
    </div>

    <p th:text="${cocktail.description}">Описание...</p>

    <div class="section">
        <h2>Ингредиенты</h2>
        <div class="card-list">
            <div class="card" th:each="ing : ${cocktail.ingredients}">
                <h3 th:text="${ing.ingredient.name}">Название</h3>
                <p th:text="'Количество: ' + ${ing.count} + ' ' + ${ing.unitType}">Количество</p>
                <small th:text="${ing.ingredient.description}">Описание</small>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>Инструменты</h2>
        <div class="card-list">
            <div class="card" th:each="tool : ${cocktail.instruments}">
                <h3 th:text="${tool.name}">Инструмент</h3>
                <p th:text="${tool.description}">Описание</p>
            </div>
        </div>
    </div>

    <div class="section">
        <h2>Шаги приготовления</h2>
        <div th:each="step : ${cocktail.steps}" class="step">
            <h4 th:text="${step.goal}">Название шага</h4>
            <p th:text="${step.description}">Описание шага</p>

            <ul>
                <li th:each="ing : ${step.usesIngredients}"
                    th:text="'Ингредиент: ' + ${ing.ingredient.name} + ' (' + ${ing.count} + ' ' + ${ing.unitType} + ')'">
                    Ингредиент
                </li>
                <li th:each="tool : ${step.instruments}" th:text="'Инструмент: ' + ${tool.name}">Инструмент</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
