<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Cocktail</title>
</head>
<body>
<h1>Edit Cocktail</h1>
<form th:action="@{save}" th:object="${cocktail}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div>
        <label>Name:</label>
        <input type="text" th:field="*{name}"/>
    </div>
    <div>
        <label>Description:</label>
        <textarea th:field="*{description}"></textarea>
    </div>
    <div>
        <label>Volume:</label>
        <textarea th:field="*{volume}"></textarea>
    </div>
    <div>
        <label>Strength:</label>
        <textarea th:field="*{strength}"></textarea>
    </div>
    <div class="section">
        <h2>Шаги приготовления</h2>
        <div th:each="step, stepStat : *{steps}" class="step">
            <input type="hidden" th:field="*{steps[__${stepStat.index}__].id}"/>
            <div>
                <label>Goal:</label>
                <input type="text" th:field="*{steps[__${stepStat.index}__].goal}"/>
            </div>
            <div>
                <label>Description:</label>
                <textarea th:field="*{steps[__${stepStat.index}__].description}"></textarea>
            </div>
            <div>
                <label>Ingredients:</label>
                <ul>
                    <li th:each="ing, ingStat : *{steps[__${stepStat.index}__].usesIngredients}">
                        <input type="hidden" th:field="*{steps[__${stepStat.index}__].usesIngredients[__${ingStat.index}__].id}"/>
                        <input type="text" th:field="*{steps[__${stepStat.index}__].usesIngredients[__${ingStat.index}__].ingredient.name}"/>
                        <input type="text" th:field="*{steps[__${stepStat.index}__].usesIngredients[__${ingStat.index}__].count}"/>
                        <input type="text" th:field="*{steps[__${stepStat.index}__].usesIngredients[__${ingStat.index}__].unitType}"/>
                    </li>
                </ul>
            </div>
            <div>
                <label>Instruments:</label>
                <ul>
                    <li th:each="tool, toolStat : *{steps[__${stepStat.index}__].instruments}">
                        <input type="hidden" th:field="*{steps[__${stepStat.index}__].instruments[__${toolStat.index}__].id}"/>
                        <input type="text" th:field="*{steps[__${stepStat.index}__].instruments[__${toolStat.index}__].name}"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button type="submit">Save</button>
</form>
</body>
</html>ml>