<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моё приложение</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body data-base-url="" th:attrappend="data-base-url=@{/}">

<div th:replace="fragments/topbar.html"></div>


<div class="container">
    <div class="grid">
        <div th:each="ingredient : ${ingredients}" class="ingredient-card">
            <h3 th:text="${ingredient.name}" class="font-bold text-lg"></h3>
            <p th:text="${ingredient.description}"></p>

            <button th:attr="data-id=${ingredient.id}"
                    th:if="${ingredient.available}"
                    class="favorite-remove-btn">❤️</button>

            <button th:attr="data-id=${ingredient.id}"
                    th:if="${!ingredient.available}"
                    class="favorite-add-btn">🤍</button>
        </div>

    </div>

    <div class="pagination">
        <a th:href="@{/page/ingredients(page=${page.number - 1}, size=${page.size})}"
           th:if="${page.hasPrevious()}" class="btn">Назад</a>

        <span>Страница <span th:text="${page.number + 1}">1</span> из <span th:text="${page.totalPages}">1</span></span>

        <a th:href="@{/page/ingredients(page=${page.number + 1}, size=${page.size})}"
           th:if="${page.hasNext()}" class="btn">Вперёд</a>
    </div>
</div>
<script>
    window.appContextPath = /*[[@{/}]]*/ '';
</script>
<script th:src="@{/js/favorite.js}"></script>

