<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой бар</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!--    Порядок стилей важен-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body data-base-url="" th:attrappend="data-base-url=@{/}">

<div th:replace="fragments/topbar.html"></div>

<div class="container">
    <!-- Блок "Мои коктейли" -->
    <h2>Мои коктейли</h2>
    <div th:if="${cocktails != null and !cocktails.isEmpty()}" class="grid">
        <div th:each="cocktail : ${cocktails}" class="border rounded-lg p-4 shadow-sm mb-4">
            <h3 th:text="${cocktail.name}">Название</h3>
            <p th:text="${cocktail.description}">Описание</p>
            <p><strong>Крепость:</strong> <span th:text="${cocktail.strength}">0</span>%</p>
            <ul>
                <li th:each="ing : ${cocktail.ingredients}"
                    th:text="${ing.name}"
                    th:classappend="${ing.available} ? 'ingredient-available' : 'ingredient-unavailable'">
                </li>
            </ul>

        </div>
    </div>
    <div th:if="${cocktails == null or cocktails.isEmpty()}" class="empty-message">
        У вас пока нет коктейлей. Добавьте доступные вам ингредиенты, а мы покажем доступные коктейли!
    </div>

    <!-- Блок "Мои ингредиенты" -->
    <h2>Мои ингредиенты</h2>
    <div th:if="${ingredients != null and !ingredients.isEmpty()}" class="grid">
        <div th:each="ingredient : ${ingredients}" class="border rounded-lg p-4 shadow-sm mb-4">
            <h3 th:text="${ingredient.name}" class="font-bold text-lg"></h3>
            <p th:text="${ingredient.description}"></p>

            <button th:attr="data-id=${ingredient.id}"
                    th:if="${ingredient.available}"
                    class="favorite-remove-btn">❤️
            </button>

            <button th:attr="data-id=${ingredient.id}"
                    th:if="${!ingredient.available}"
                    class="favorite-add-btn">🤍
            </button>
        </div>
    </div>
    <div th:if="${ingredients == null or ingredients.isEmpty()}" class="empty-message">
        У вас нет ингредиентов. Добавьте имеющиеся ингредиенты.
    </div>

    <!-- Блок "Мои коктейли" -->
    <h2>Мои любимые коктейли</h2>
    <div th:if="${favorites != null and !favorites.isEmpty()}" class="grid">
        <div th:each="cocktail : ${favorites}" class="border rounded-lg p-4 shadow-sm mb-4">
            <h3 th:text="${cocktail.name}">Название</h3>
            <p th:text="${cocktail.description}">Описание</p>
            <p><strong>Крепость:</strong> <span th:text="${cocktail.strength}">0</span>%</p>

        </div>
    </div>
    <div th:if="${favorites == null or favorites.isEmpty()}" class="empty-message">
        У вас пока нет любимых коктейлей. Ставьте им ❤️, а мы их запомним!
    </div>

</div>
</body>
</html>
<script>
    window.appContextPath = /*[[@{/}]]*/ '';
</script>
<script th:src="@{/js/favorite_ingredient.js}"></script>
